@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Tablettes */

}
@media screen and (min-width: 1025px) {
/* Desktop */

}

@media screen and (max-width: 600px) {
    /* Mobile */

  .links {
    clear: both;
  }

  .link_active {
    border-top: none;
    border-bottom: solid #0065fc;
  }

}